.post {
    display: flex-column, flex;
    justify-content: center;
    margin: auto;

    width: 100%;
    height: 350px;
    background-color: rgb(67, 66, 71);

    color: #fffae9;
    border-radius: 20px;

    
}

.post_profile{
    display:flex;
    text-align: center;
}

.profilepic {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 50px;
    size-adjust: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.mnu{
    position: absolute;
    top: 1%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mnu img{
    position:flex;
    top: 0;
    width: 50px;
    height: 50px;
}
.header{
    display: flex-row;
    
    height:100%;
    width:100%;
}
.upper{
    height:5vh;
}

.sec {
    width: 20%;
}


.username {
    padding: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 40px;

    width: 500px;

    text-align: left;    
}

.kontener {
    padding: 50px;
    /* display: flex; */
    display: flex-column;
    align-items: space-around;
    justify-content: space-around;    
}

.background{
    padding: 20px;
    left: 50%;
    right: 50%;
    
}

.post_content{
    display: flex;
    align-items: center;
    width: auto;
    padding:40px;

}

#plockFoto{
    margin: 0   !important;
    justify-content: center;
    padding-top: 70px;
    display: flex;
    /* image-resolution: 1920px 1080px; */
}



p {
    font-size: 25px;
}

.interaction_icon {
    width: 35px;
    height: 35px;
}

.interaction {
    display: flex;
    justify-content: center;
    width:95%;
    padding: 20px;

}

.comment{
    display: flex;
    justify-content:left;
    width:90%;
}