#title {

    font-size: 35px;

    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: #fffae9
}

#flags {

    display: flex;
    height: 30%;
    width: 100%;

    align-items: center;
    justify-content: center;
}


.uk{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ua{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pl{
    display: flex;
    align-items: center;
    justify-content: center;
}
.uk:hover {
    transform: scale(1.10);

}

.pl:hover {
    transform: scale(1.10);

}
.ua:hover {
    transform: scale(1.10);

}

.circle {

    width: 60%;
    height: 60%;
    object-fit: contain;
    border-color: #ffffff;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
   
    vertical-align: middle;
 }

 