<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Płock Pomaga</title>

    <meta name="description" content="Tutaj znajdziesz pomoc" />
    <meta name="keywords" content="ukraina, płock, pomoc" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="../static/CSS/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/CSS/feed.css" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   
</head>

<body>
    <div class="upper">
        <header class="header">
            <img id="logoPlock" src="../static/sources/jpeg/logoplock.png" alt="logo">
            <h1 class="header-title"><a href="#">PŁOCK POMAGA</a></h>
                <div class="mnu">
                    <img class="profilepic" src="../static/sources/jpeg/user.png">
                    <img class="profilepic" src="../static/sources/jpeg/notification.png">
                </div>
        </header>
    </div>
    <!-- <div id="plockFoto">
        <img src="https://th.bing.com/th/id/OIP.xS3mjcJy6S2YMlwJagwKmQHaFj?pid=ImgDet&w=240&h=180&c=7" alt="plock">
    </div> -->
    <div class="kontener">

       
        <!--POST1-->
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Ivan</h1>
                </div>
                

                <div class="post_content">
                    <p>Czy obywatele Ukrainy mogą ubiegać się o kartę dużej rodziny ?</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Jan Kowalski</h1>
                </div>
                

                <div class="post_content">
                    <p>Witam,
                        czy ktoś miał taką sytuację, że rodzic chciał złożyć wniosek o wydanie mKDR a karta jednego ze studiujących dzieci już była nieważna? Co w takim przypadku?</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    
                    <h1 class="username">Mariusz Stykała</h1>
                </div>
                

                <div class="post_content">
                    <p>Pozdrawiam wszystkich na tej platformie :)</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Jan Kochanowski</h1>
                </div>
                

                <div class="post_content">
                    <p>Mam chorom curke</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Jan Kochanowski</h1>
                </div>
                

                <div class="post_content">
                    <p>Nie ważne, nie żyje [*]</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Jan Kowalski</h1>
                </div>
                

                <div class="post_content">
                    <p>Mam chorom curke</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>
        <div class="background">
            <div class="post">
                <div class="post_profile">
                    <img class="profilepic" src="../static/sources/jpeg/profilepic.webp">
                    <h1 class="username">Jan Kowalski</h1>
                </div>
                

                <div class="post_content">
                    <p>Mam chorom curke</p>
                </div>

                <div class="interaction">
        
                        <div class="comment">
                            <img class="interaction_icon" src="../static/sources/jpeg/comment.webp">

                        </div>
                        <div class="vote">
                            <img class="interaction_icon" src="../static/sources/jpeg/uparrow.png">
                            <img class="interaction_icon" src="../static/sources/jpeg/downarrow.png">
                        </div>
                </div>

            </div>
        </div>

    <div id="go_back">
        <a href=./googlemaps><img id="leftarrow" src="../static/sources/jpeg/leftarrow.png"></a>
    </div>
    <footer class="footer">
        <h2>Płock 2022</h2>
        <div id="contact">
            <h3>Skontaktuj się z nami:</h3>
            <img class="contact_icon" src="../static/sources/jpeg/facebook.png">
            <img class="contact_icon" src="../static/sources/jpeg/instagram.png">
            <img class="contact_icon" src="../static/sources/jpeg/youtube.png">
        </div>
        
    </footer>
</body>



</html>


