<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Płock Pomaga</title>

    <meta name="description" content="Tutaj znajdziesz pomoc" />
    <meta name="keywords" content="ukraina, płock, pomoc" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="stylesheet" href="../static/CSS/style-maps.css" type="text/css" />
    <link rel="stylesheet" href="../static/CSS/google-maps.css" type="text/css" />
    

    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>

<body onload="initializeMap()">
    <div class="upper">
        <header class="header">
            <img id="logoPlock" src="../static/sources/jpeg/logoplock.png" alt="logo">
            <h1 class="header-title"><a href="#">PŁOCK POMAGA</a></h>
                <div class="mnu">
                    <img class="profilepic" src="../static/sources/jpeg/user.png">
                    <img class="profilepic" src="../static/sources/jpeg/notification.png">
                </div>
        </header>
    </div>
    <div id="go_back">
        <a href=../templates/map.html><img id="leftarrow" src="../static/sources/jpeg/leftarrow.png"></a>
    </div>

    <!--CONTENT-->
        <div class="container">
            <div>
                <div id="map-canvas"></div>
            </div>
        </div>
        <div id="go_back">
            <a href=/feed><img id="leftarrow" src="../static/sources/jpeg/leftarrow.png"></a>
        </div>
    <!--CONTENT-->

    <footer class="footer">
        <h2>Płock 2022</h2>
        <div id="contact">
            <h3>Skontaktuj się z nami:</h3>
            <img class="contact_icon" src="../static/sources/jpeg/facebook.png">
            <img class="contact_icon" src="../static/sources/jpeg/instagram.png">
            <img class="contact_icon" src="../static/sources/jpeg/youtube.png">
        </div>
    </footer>
</body>



<!--SCRIPT-->
<script>
    var database = [

    ];

    function initializeMap() {
    console.log('initialize');
    var myOptions = {
        center: new google.maps.LatLng(52.5464521 , 19.7008606),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        myOptions);
    }

</script>
<!--SCRIPT-->

</html>