<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Płock Pomaga</title>

    <meta name="description" content="Tutaj znajdziesz pomoc" />
    <meta name="keywords" content="ukraina, płock, pomoc" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="../static/CSS/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/CSS/feed.css" type="text/css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>

<body>
    <div class="upper">
        <header class="header">
            <img id="logoPlock" src="../static/sources/jpeg/logoplock.png" alt="logo">
            <h1 class="header-title"><a href="#">PŁOCK POMAGA</a></h>
                <div class="mnu">
                    <img class="profilepic" src="../static/sources/jpeg/user.png">
                    <img class="profilepic" src="../static/sources/jpeg/notification.png">
                </div>
        </header>
    </div>
    
    <div class="kontener">

        
        </div>

  
    <footer class="footer">
        <h2>Płock 2022</h2>
        <div id="contact">
            <h3>Skontaktuj się z nami:</h3>
            <img class="contact_icon" src="../static/sources/jpeg/facebook.png">
            <img class="contact_icon" src="../static/sources/jpeg/instagram.png">
            <img class="contact_icon" src="../static/sources/jpeg/youtube.png">
        </div>
        
    </footer>
</body>



</html>


